@import "tailwindcss";

/* Aplica Montserrat a todo el cuerpo de la página */
body {
  font-family: 'Montserrat', sans-serif;
}

/* También puedes especificar pesos de fuente si quieres que ciertos elementos tengan un peso por defecto */
/* Por ejemplo, todos los h1 serán Montserrat bold */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700; /* Negrita */
}

@font-face {
  font-family: "BigNoodle";
  src: url('./font/big_noodle_titling.ttf') format('truetype'); 
}

@font-face {
  font-family: "MessinaRegular";
  src: url('./font/MessinaSans-Regular.ttf') format('truetype'); 
}

.font-bignoodle {
  font-family: BigNoodle
}

.font-messina {
  font-family: MessinaRegular;
}


